<%- include('header', {titulo:'Cadastro de Cachorros'}); %>
<%- include('menu', {variant:'sistema'}); %>

<style>
    #map{
        width: 100%;
        height:400px;
        max-width: 800px;
    }
</style>

<script type="text/javascript" src="../js/mapa-cadastro.js"></script>
<section class="contact_section layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        Cadastro de Cachorros
      </h3>
    </div>
    <div class="container layout_padding2-top">
      <div class="row-n">
        <form class="w3-container" action="/sistema/cadastro-cachorro-post" method="post" style="width: 100%;" enctype="multipart/form-data">
            <div class="col-md-5 w3-margin-bottom" style="display: inline-block;max-width: 340px;">
                <label><b>Nome do Cachorro:</b></label> <br>
                <input name="name" id="name" type="text" placeholder="NOME">
            </div>
            <div class="col-md-5 w3-margin-bottom" style="display: inline-block;max-width: 240px;">
                <label><b>Raça</b></label>
                <input name="raca" id="raca" type="text" placeholder="RAÇA">
            </div>
            <center>    
                <input id="searchInput" style="width: 24rem;" class="controls" type="text" placeholder="Enter a location">            
                <div id="map"></div>
                <input hidden readonly name="latitude_form" id="latitude_form" type="text">
                <input hidden readonly name="longitude_form" id="longitude_form" type="text">
            </center>
            <br>
            <div class="w3-margin-bottom" style="display: inline-block;max-width: 240px;">
                <label><b>Foto</b></label>
                <input name="foto" id="foto" type="file" accept="image/*" required>
            </div>
            <div class="d-flex justify-content-center ">
            <button>
                Cadastrar
            </button>
            </div>
        </form>        
      </div>
    </div>
</section>


<%- include('footer',{variant:''}); %>