<%- include('header', {titulo:'Relatório'}); %>
<%- include('menu', {variant:'sistema'}); %>


<section class="layout_padding">
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-12 mx-auto"> 
        
            <div class="custom_heading-container">
                <h3 class=" ">
                Vacinas
                </h3>
            </div>
            <div id="chart"></div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', { packages: [ 'corechart' ] })
                google.charts.setOnLoadCallback(drawChart)

                function drawChart() {
                    const container = document.querySelector('#chart')
                    const data = new google.visualization.arrayToDataTable([
                        [ 'Vacina', 'Estoque' ],
                        [ 'Antirrábica', 50 ],
                        [ 'v3', 15 ],
                        [ 'v4', 13 ],
                        [ 'v5', 19 ],
                        [ 'v8', 23 ],
                        [ 'v10', 30 ],
                        [ 'Leishmaniose', 4 ],
                        [ 'Giárdia', 6 ],
                        [ 'Gripe Canina', 33 ]
                    ])
                    const options = {
                        title: 'Estoque de Vacinas',
                        height: 400,
                        width: 820
                    }

                    const chart = new google.visualization.ColumnChart(container)
                    // const chart = new google.visualization.BarChart(container)
                    // const chart = new google.visualization.LineChart(container)
                    // const chart = new google.visualization.PieChart(container)
                    chart.draw(data, options)
                }
            </script>
        </div>
      </div>
    </div>
</section>


<%- include('footer',{variant:''}); %>
