<%- include('header', {titulo:'Lista de Usuários'}); %>
<%- include('menu', {variant:'sistema'}); %>


<section class="layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        Sistema
      </h3>
    </div>
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-12 mx-auto" style='overflow: auto;'> 
          <ul>
            <li>
              <a href="sistema/usuarios">Usuários</a>
              <ul>
                <li> <a href="sistema/cadastro-usuario">Cadastro Admin</a></li>
              </ul>
            </li>
            <li>
              <a href="sistema/vacinas">Vacinas</a>
              <ul>
                <li> <a href="sistema/lancar-compra">Lançar compra</a></li>
                <li> <a href="sistema/relatorio">Relatório</a></li>
              </ul>
            </li>
            <li>
              <a href="sistema/animais">Animais</a>
              <ul>
                <li> <a href="sistema/cadastro-animais">Cadastro Animal</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>


<%- include('footer',{variant:''}); %>