<%- include('header', {titulo:'Lista de Usuários'}); %>
<%- include('menu', {variant:'sistema'}); %>


<section class="layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        Sistema
      </h3>
    </div>
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-12 mx-auto" style='overflow: auto;'> 
        </div>
      </div>
    </div>
</section>


<%- include('footer',{variant:''}); %>