
 <div id="full-tela" class="full-tela">
  
  <div class="load"> 
    <img src="../images/Paw_1.gif">
    <!-- <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
    <span class="sr-only">Loading...</span>  -->
  </div>
    <!-- Start login -->    
  <div id="LoginModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
    <div class="w3-center"><br>
        <span id="closeModelx" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
    </div>

      <form id="login" action="/login" method="post">
        <div class="w3-section">
          <label><b>Usuário ou E-mail</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Digite Usuário ou E-mail" name="login_username" id="login_username" required>
          <label><b>Senha</b></label>
          <input class="w3-input w3-border" type="password" placeholder="Digite a Senha" name="login_senha" id="login_senha" required>
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
          <input class="w3-check w3-margin-top" name="manterLogado" id="manterLogado" type="checkbox" checked> Mater Logado
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button id="closeModelCancel" type="button" class="w3-button w3-red">Cancelar</button>
        <span class="w3-right w3-padding w3-hide-small">Esqueceu a <a href="#">Senha ?</a></span>
      </div>

    </div>
  </div>
  <!-- end login -->

<!-- Start Model -->  
  <div id="Model" class="w3-modal">
    <div id="ModelInicio" class="w3-modal-content w3-card-4 w3-animate-zoom box-teste" style="max-width:900px">
      <div id="header-model" class="w3-center"><br>
          <span id="closeModelx" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
      </div>
      <div id="conteudoModel" class="model-base">

      </div>
    </div>
  </div>
<!-- end Model -->
</div>
<script type="text/javascript">  
  $("#conteudoModel").html(conteudo);
</script>