
 <div id="full-tela" class="full-tela">
  
  <div class="load"> 
    <img src="../images/Paw_1.gif">
    <!-- <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
    <span class="sr-only">Loading...</span>  -->
  </div>
    <!-- Start login -->    
  <div id="LoginModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
    <div class="w3-center"><br>
        <span id="closeModelx" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
    </div>

      <form id="login" action="/login" method="post">
        <div class="w3-section">
          <label><b>Usuário ou E-mail</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Digite Usuário ou E-mail" name="login_username" id="login_username" required>
          <label><b>Senha</b></label>
          <input class="w3-input w3-border" type="password" placeholder="Digite a Senha" name="login_senha" id="login_senha" required>
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
          <input class="w3-check w3-margin-top" name="manterLogado" id="manterLogado" type="checkbox" checked="true"> Mater Logado
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button id="closeModelCancel" type="button" class="w3-button w3-red">Cancelar</button>
        <span class="w3-right w3-padding w3-hide-small">Esqueceu a<a href="#">Senha ?</a></span>
      </div>

    </div>
  </div>
  <!-- end login -->
    <!-- Start usuario -->  
  <div id="UsuarioModel" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center"><br>
        <span id="closeModelx" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <img id="AvatarUser" alt="Avatar" style="height: 225px;width: 225px;background: lightgray;border: 1px solid lightgray;" class="w3-circle w3-margin-top" src="../images/usuario-branco.png">
    </div>

      <form class="w3-container" action="/sistema/att-usuario-post" method="post">
        <input hidden readonly type="text" id="model_id" name="model_id" required>
        <div class="row-n">
          <div class="col-md-5 w3-margin-bottom">
            <label><b>Nome</b></label>
            <input class="w3-input w3-border" type="text" placeholder="" id="model_name" name="model_name">
          </div>
          <div class="col-md-5 w3-margin-bottom">
            <label><b>Usuário</b></label>
            <input class="w3-input w3-border" type="text" placeholder="" id="model_username" name="model_username" required>
          </div>
          <div class="col-md-5 w3-margin-bottom">
            <label><b>E-mail</b></label>
            <input class="w3-input w3-border" type="email" placeholder="" id="model_email" name="model_email" required>
          </div>
          <div class="col-md-5 w3-margin-bottom">
            <label><b>Nível</b></label>
            <input class="w3-input w3-border" type="text" placeholder="" id="model_level" name="model_level" required>
          </div>
          <div class="col-md-5 w3-margin-bottom">
            <label><b>Atualizar</b></label>
            <input class="w3-input w3-border" type="date" placeholder="" id="model_att_now" name="model_att_now" required>
          </div>
          <div class="col-md-5 w3-margin-bottom">
            <label><b>Ult. Atualização</b></label>
            <input class="w3-input w3-border" readonly type="date" placeholder="" id="model_att" name="model_att" required>
          </div>
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button class="w3-button w3-green" type="submit">Salvar</button>
          <button id="closeModelCancel" type="button" class="w3-button w3-red">Cancelar</button>
        </div>

      </form>
    </div>
  </div>
<!-- end usuario -->
</div>