body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
#header-model{
  height: 50px;
}
.box-teste .box-cell{
  display : table-cell;   
  vertical-align: middle;
  padding: 0px 15px;
}
.load{
  margin-top: 200px;
}
.none{
  display:none;
}
.center-model form{
  width: 100%;
}
.center-model form div{
  text-align: left;
}
.enviar{
  background:#565656 !important;
  color:white !important;
}
.enviar:hover{
  background: #cfcfcf !important;
  color: #000000 !important;
}
.func{
  width:100%;
}
.func p {
  max-width: 185px;
}
.row-n{
  display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.none{
  display:none;
}
.center-model form{
  width: 100%;
}
.center-model form div{
  text-align: left;
}
.enviar{
  background:#565656 !important;
  color:white !important;
}
.w3-section{
  padding: 10px 8rem;
}
.w3-modal{
  padding-top: 15px;
}
.enviar:hover{
  background: #cfcfcf !important;
  color: #000000 !important;
}
.func{
  width:100%;
}
.func p {
  max-width: 185px;
}
.botao-sair{
  border: 0;
  background: #f9f9f9;
  padding: 5px 5px;
  width: 100%;
  text-align: left;
}
.botao-sair:hover{
  background: #dc3545;
  color: white;
}
.dropdown-user:hover .usuario {
  color: #000000 !important;
}
.avatar-perfil{
  width: 100%;
  text-align: center;
  background: lightgray;
}
.avatar-perfil img{
  max-width: 225px;
  max-height: 225px;
}
span.usuario {
  font-size: 19px;
  color: white;
  cursor:default;
}
img.logo-png {
  max-height: 30px;
  max-width: 30px;
}
nav .active {
  color: #000000 !important;
}
.user-logo{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.dropdown.dropdown-user {
  padding: 5px;
}
.link-direto{
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
nav a:hover{
  color:#000000 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black !important;
  text-align: left !important;
  padding: 5px 5px !important;
}
.dropdown-content a:hover {    
  color: #000000 !important;
  background: antiquewhite;
}
.dropdown:hover .dropdown-content {
  display: block !important;
}
#loginModel{
  background: white !important;
}
.reveal-modal{
  background: white !important;
}
.full-tela{
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: #000000d1;
}
.load img {
  width: 300px;
}
.invisible{  
  visibility: hidden;
}
.menu-ativo{
  content: ""; 
    display: block;
    /* position: absolute; */
    /* bottom: 7px; */
    /* left: 50%; */
    width: 30px;
    height: 4px;
    /* -webkit-transform: translateX(-50%); */
    /* transform: translateX(-50%); */
    background-color: #565656;
    border-radius: 5px;
    z-index: 99999;
    text-align: center;
    margin-top: -11px;
}
.center-model{
  margin-top:100px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom_heading-container h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.custom_heading-container h3::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 50px;
  height: 7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ff9047;
  border-radius: 15px;
}

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
}

.btn-box a {
  color: #1d1d1d;
  margin-right: 15px;
  font-size: 18px;
}

.btn-box hr {
  width: 75px;
  height: 1.2px;
  border: none;
  background-color: #464646;
  margin: 0;
}
.hero_area{
  margin-top:55px;
  background-color: #f2f2f2;
}
/*header section*/
.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  background-color: #0066ff;
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 2px 30px;
  color: #ffffff;
  text-align: center;
  position: relative;
  font-size: 22px;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover::before {
  display: block;
}

.custom_nav-container .navbar-nav .nav-item.active a::before {
  display: block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 45px;
  margin-right: 5px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 42px;
}

/*end header section*/
/* slider section */
.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #1a2e35;
}

.slider_section .detail-box h1 span {
  color: #ff9047;
}

.slider_section .slider_nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .slider_nav-box .custom_carousel-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: unset;
  width: 50px;
  height: 50px;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.slider_section .carousel-control-prev {
  left: 2%;
  background-image: url(../images/left-arrow-black.png);
}

.slider_section .carousel-control-prev:hover {
  background-image: url(../images/left-arrow.png);
}

.slider_section .carousel-control-next {
  right: 2%;
  background-image: url(../images/right-arrow-black.png);
}

.slider_section .carousel-control-next:hover {
  background-image: url(../images/right-arrow.png);
}

/* end slider section */
.bg {
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.about_section {
  text-align: center;
}

.about_section .img-box img {
  width: 350px;
}

.service_section {
  text-align: center;
  position: relative;
}

.service_section .custom_heading-container {
  margin-bottom: 15px;
}

.service_section .service_container {
  padding: 45px 0 75px 0;
}

.service_section .box.b-2 .detail-box {
  width: 60%;
  text-align: right;
  overflow: hidden;
}

.service_section .box.b-2 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-2 .detail-box a {
  min-width: 100px;
}

.service_section .box.b-3 .detail-box {
  width: 70%;
  margin-left: auto;
  overflow: hidden;
  text-align: left;
}

.service_section .box.b-3 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-3 .detail-box a {
  min-width: 100px;
}

.service_section .img-box img {
  height: 200px;
}

.service_section .detail-box {
  height: 118px;
  margin-top: 10px;
}

.service_section .detail-box h6 {
  font-weight: bold;
}

.service_section .detail-box .btn-box a {
  color: #565656;
}

.service_section .detail-box .btn-box hr {
  background-color: #565656;
}



.work_section {
  background-color: #f1f1f1;
}

.work_section .custom_heading-container h3 {
  color: #000000;
}

.work_section .custom_heading-container h3::before {
  background-color: #ff9047;
}

.work_section .work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 45px 0;
}

.work_section .work_container .box {
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 20px 0;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 45px 10px;
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.work_section .work_container .box .img-box {
  width: 150px;
}

.work_section .work_container .box .img-box img {
  width: 100%;
}

.work_section .work_container .box .name {
  margin-top: 10px;
}

.work_section .work_container .box.b-1, .work_section .work_container .box.b-3 {
  -webkit-animation: odd-box-animate 2s infinite;
          animation: odd-box-animate 2s infinite;
}

.work_section .work_container .box.b-2, .work_section .work_container .box.b-4 {
  -webkit-animation: even-box-animate 2s infinite;
          animation: even-box-animate 2s infinite;
}

@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.work_section .btn-box a {
  color: #ffffff;
}

.work_section .btn-box hr {
  background-color: #ffffff;
}

.contact_section input,
.contact_section select {
  width: 100%;
  border: 0;
  padding: 15px 12px;
  background-color: #f2f2f2;
  outline: none;
  margin: 10px 0;
}

.contact_section input::-webkit-input-placeholder,
.contact_section select::-webkit-input-placeholder {
  color: #3a3a3a;
}

.contact_section input:-ms-input-placeholder,
.contact_section select:-ms-input-placeholder {
  color: #3a3a3a;
}

.contact_section input::-ms-input-placeholder,
.contact_section select::-ms-input-placeholder {
  color: #3a3a3a;
}

.contact_section input::placeholder,
.contact_section select::placeholder {
  color: #3a3a3a;
}

.contact_section button {
  background-color: #565656;
  padding: 12px 55px;
  outline: none;
  border: none;
  border: 1px solid #565656;
  color: #fff;
  margin-top: 25px;
}

.contact_section button:hover {
  color: #565656;
  background-color: transparent;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  border: 1px solid #cccccc;
  padding: 45px 35px 35px 25px;
  background-color: #ffffff;
  margin: 0 auto;
}

.client_section .client_container .detail-box p {
  text-align: center;
}

.client_section .client_container .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.client_section .client_container .client_id .img-box {
  width: 75px;
  margin-right: 10px;
}

.client_section .client_container .client_id .img-box img {
  width: 100%;
}

.client_section .client_container .client_id .name h5 {
  text-transform: uppercase;
}

.client_section .client_container .client_id .name h6 {
  color: #565656;
}

.info_section {
  background-color: #565656;
  color: #ffffff;
}

.info_section a {
  color: #ffffff;
}

.info_section h4 {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.info_section .info-logo h2 {
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-right: 15px;
}

.info_section .info-nav ul {
  padding-left: 15px;
}

.info_section .info-nav ul li {
  list-style-type: none;
  position: relative;
  margin: 3px 0;
}

.info_section .info-nav ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
}

.info_section .info-contact h6 {
  color: #000000;
  font-size: 18px;
}

.info_section .info-contact .call {
  margin-top: 20px;
}

.info_section .discover ul {
  padding: 0;
}

.info_section .discover ul li {
  list-style-type: none;
  margin: 5px 0;
}

/* footer section*/
.footer_section {
  background-color: #ffffff;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.footer_section p {
  color: #171717;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #171717;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */